<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="PGSports - Sports HTML Template">
    <meta name="author" content="potenzaglobalsolutions.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PGSports - Sports HTML Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/fontawesome/all.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css">
    
    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <!--=================================
    Header -->
    <header class="header header-sticky default inner-page-header">
      <nav class="navbar navbar-static-top navbar-expand-xl">
        <div class="container-fluid main-header position-relative">
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><i class="fas fa-align-left"></i></button>
          <a class="navbar-brand" href="index.html">
            <img class="logo img-fluid" src="images/logo.svg" alt="logo">
            <img class="sticky-logo img-fluid" src="images/logo-dark.svg" alt="logo">
          </a>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="index.html">Home 01</a></li>
                  <li><a class="dropdown-item" href="index-02.html">Home 02</a></li>
                  <li><a class="dropdown-item" href="index-03.html">Home 03</a></li>
                </ul>
              </li>
              <li class="dropdown nav-item mega-menu active">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Pages<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      <div class="col-sm-6 col-lg-4">
                        <span class="mb-3 nav-title mt-0">Pages</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="about-us.html">About Us</a></li>
                          <li><a class="dropdown-submenu" href="our-history.html">Our History</a></li>
                          <li><a class="dropdown-submenu" href="team.html">Team</a></li>
                          <li><a class="dropdown-submenu" href="player-single.html">Player Single</a></li>
                          <li class="active"><a class="dropdown-submenu" href="match-schedule.html">Match Schedule</a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-4 mt-3 mt-sm-0">
                        <span class="mb-3 nav-title mt-0">Pages</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="event.html">Event</a></li>
                          <li><a class="dropdown-submenu" href="event-single.html">Event Single</a></li>
                          <li><a class="dropdown-submenu" href="ticket-page.html">Ticket Page</a></li>
                          <li><a class="dropdown-submenu" href="faqs.html">Faqs</a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-4">
                        <span class="mb-3 nav-title mt-0">Pages</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="coming-soon.html">Coming Soon</a></li>
                          <li><a class="dropdown-submenu" href="404-error.html">404</a></li>
                          <li><a class="dropdown-submenu" href="privacy-policy.html">Privacy policy</a></li>
                          <li><a class="dropdown-submenu" href="terms-and-conditions.html">Terms And Conditions</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown nav-item mega-menu">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Portfolio<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      <div class="col-sm-6 col-lg-4">
                        <span class="mb-3 nav-title mt-0">Portfolio Style</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="portfolio.html">Portfolio</a></li>
                          <li><a class="dropdown-submenu" href="portfolio-morden.html">Portfolio Morden</a></li>
                          <li><a class="dropdown-submenu" href="portfolio-masonry.html">Portfolio Masonry</a></li>
                          <li><a class="dropdown-submenu" href="portfolio-single.html">Portfolio Single</a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-4 mt-3 mt-sm-0">
                        <span class="mb-3 nav-title mt-0"> Portfolio Columns</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="portfolio-2-columns.html">Portfolio 2 Columns</a></li>
                          <li><a class="dropdown-submenu" href="portfolio-3-columns.html">Portfolio 3 Columns</a></li>
                          <li><a class="dropdown-submenu" href="portfolio-4-columns.html">Portfolio 4 Columns</a></li>
                          <li><a class="dropdown-submenu" href="portfolio-5-columns.html">Portfolio 5 Columns</a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-4">
                        <span class="mb-3 nav-title mt-0"> Portfolio Masonry</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="portfolio-2-masonry.html">Portfolio 2 Masonry</a></li>
                          <li><a class="dropdown-submenu" href="portfolio-3-masonry.html">Portfolio 3 Masonry</a></li>
                          <li><a class="dropdown-submenu" href="portfolio-4-masonry.html">Portfolio 4 Masonry</a></li>
                          <li><a class="dropdown-submenu" href="portfolio-5-masonry.html">Portfolio 5 Masonry</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Blog<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                  <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
                  <li><a class="dropdown-item" href="blog-grid.html">Blog Grid</a></li>
                  <li><a class="dropdown-item" href="blog-masonry.html">Blog Masonry</a></li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Shop<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="shop.html">Shop</a></li>
                  <li><a class="dropdown-item" href="shop-single.html">Shop Single</a></li>
                  <li><a class="dropdown-item" href="shop-cart.html">Shop Cart</a></li>
                  <li><a class="dropdown-item" href="shop-checkout.html">Shop Checkout</a></li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a class="nav-link" href="contact-us.html">Contact us</a>
              </li>
            </ul>
          </div>
          <div class="add-listing">
            <div class="side-menu">
              <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <img src="images/svg/menu.svg" alt="#">
                <img class="menu-dark" src="images/svg/menu-dark.svg" alt="#">
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!--=================================
    Header -->

    <!--=================================
    Right menu -->
    <div class="offcanvas offcanvas-end offcanvas-sidebar-menu" tabindex="-1" id="offcanvasRight">
      <div class="offcanvas-header text-end justify-content-end p-4">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="offcanvas-body p-4 p-sm-5 d-flex align-content-between flex-wrap justify-content-center">
        <div class="sidebar-menu">
          <div class="sidebar-logo">
            <a href="index.html">
              <img class="logo img-fluid" src="images/logo.svg" alt="logo">
            </a>
          </div>
          <div class="section-title mt-5">
            <h3 class="title text-white">About us</h3>
            <p class="text-white">Get the oars in the water and start rowing. Execution is the single biggest factor in achievement so the faster and better your execution.</p>
          </div>
          <div class="mt-5">
            <h3 class="mb-3 text-white">Contact Info</h3>
            <p class="text-white">17504 Carlton Cuevas Rd,<br> Gulfport, MS, 39503</p>
            <h2 class="text-white">1-800-555-500</h2>
          </div>
          <div class="social-icon mt-5">
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--=================================
    Right menu -->

    <!--=================================
    Banner -->
    <section class="inner-banner bg-overlay-black-6 bg-holder" style="background-image: url('images/inner-banner/01.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-banner-tittle">
              <h2>Match Schedule</h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Match Schedule</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Banner -->

    <!--=================================
    Latest Results -->
    <section class="space-pt">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-4 text-center mb-4 mb-lg-0">
            <div class="d-lg-flex align-items-center">
              <h3>Ligers</h3>
              <img class="img-fluid ms-0 ms-lg-4 ms-xl-5" src="images/home-01/team-logo-03.png" alt="">        
            </div>
          </div>
          <div class="col-md-12 col-lg-4 text-center mb-4 mb-lg-0">
            <h5>Premier League</h5>
            <h2><span>03</span> : <span>02</span></h2>
            <div class="time-location"><span class="time"><i class="fa-regular fa-clock"></i>1:30 PM</span><span class="location"><i class="fa-solid fa-location-dot"></i>Maracanã Stadium</span></div>
          </div>
          <div class="col-md-12 col-lg-4 text-center">
            <div class="d-lg-flex align-items-center justify-content-end">
              <img class="img-fluid me-0 me-lg-4 me-xl-5" src="images/home-01/team-logo-04.png" alt="">
              <h3>Cheetahs</h3>                        
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Latest Results -->   

    <section class="space-ptb upcoming-match-table bg-overlay-dark-9" >
      <div class="container position-relative">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h2 class="mb-5 text-white">Upcoming Match</h2> 
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="match-schedule">
              <div class="upcoming-match">
                <label class="title">Match</label>
                <div class="d-flex align-items-center justify-content-center">
                  <div class="match-team">
                    <img class="" src="images/home-01/team-logo-01.png" alt="">
                  </div>
                  <h2 class="px-2 px-lg-3">V.S</h2>
                  <div class="match-team">
                    <img class="" src="images/home-01/team-logo-02.png" alt="">                  
                  </div>
                </div>
              </div>
              <div class="match-date">
                <label class="title">Date-Time</label>
                <span class="date">05-06-2023 8:00 PM</span>
              </div>
              <div class="tournament">
                <label class="title">Tournament</label>
                <span>FIFA World Cup</span>
              </div>
              <div class="venue">
                <label class="title">Venue</label>
                <span>Lusail Iconic</span>
              </div>
              <div class="article"><a href="ticket-page.html" class="btn btn-primary">Get Tickets</a></div>
            </div>

            <div class="match-schedule">
              <div class="upcoming-match">
                <label class="title">Match</label>
                <div class="d-flex align-items-center justify-content-center">
                  <div class="match-team">
                    <img class="" src="images/home-01/team-logo-02.png" alt="">
                  </div>
                  <h2 class="px-2 px-lg-3">V.S</h2>
                  <div class="match-team">
                    <img class="" src="images/home-01/team-logo-05.png" alt="">                  
                  </div>
                </div>
              </div>
              <div class="match-date">
                <label class="title">Date-Time</label>
                <span class="date">07-06-2023 8:45 PM</span>
              </div>
              <div class="tournament">
                <label class="title">Tournament</label>
                <span>FIFA World Cup</span>
              </div>
              <div class="venue">
                <label class="title">Venue</label>
                <span>Al Janoub</span>
              </div>
              <div class="article"><a href="ticket-page.html" class="btn btn-primary">Get Tickets</a></div>
            </div>

            <div class="match-schedule">
              <div class="upcoming-match">
                <label class="title">Match</label>
                <div class="d-flex align-items-center justify-content-center">
                  <div class="match-team">
                    <img class="" src="images/home-01/team-logo-07.png" alt="">
                  </div>
                  <h2 class="px-2 px-lg-3">V.S</h2>
                  <div class="match-team">
                    <img class="" src="images/home-01/team-logo-08.png" alt="">                  
                  </div>
                </div>
              </div>
              <div class="match-date">
                <label class="title">Date-Time</label>
                <span class="date">09-06-2023 9:00 PM</span>
              </div>
              <div class="tournament">
                <label class="title">Tournament</label>
                <span>FIFA World Cup</span>
              </div>
              <div class="venue">
                <label class="title">Venue</label>
                <span>Education City</span>
              </div>
              <div class="article"><a href="ticket-page.html" class="btn btn-primary">Get Tickets</a></div>
            </div>

            <div class="match-schedule">
              <div class="upcoming-match">
                <label class="title">Match</label>
                <div class="d-flex align-items-center justify-content-center">
                  <div class="match-team">
                    <img class="" src="images/home-01/team-logo-05.png" alt="">
                  </div>
                  <h2 class="px-2 px-lg-3">V.S</h2>
                  <div class="match-team">
                    <img class="" src="images/home-01/team-logo-01.png" alt="">                  
                  </div>
                </div>
              </div>
              <div class="match-date">
                <label class="title">Date-Time</label>
                <span class="date">12-06-2023 9:20PM</span>
              </div>
              <div class="tournament">
                <label class="title">Tournament</label>
                <span>FIFA World Cup</span>
              </div>
              <div class="venue">
                <label class="title">Venue</label>
                <span>Bayt Stadium</span>
              </div>
              <div class="article"><a href="ticket-page.html" class="btn btn-primary">Get Tickets</a></div>
            </div>

            <div class="match-schedule mb-0">
              <div class="upcoming-match ">
                <label class="title">Match</label>
                <div class="d-flex align-items-center justify-content-center">
                  <div class="match-team">
                    <img class="" src="images/home-01/team-logo-02.png" alt="">
                  </div>
                  <h2 class="px-2 px-lg-3">V.S</h2>
                  <div class="match-team">
                    <img class="" src="images/home-01/team-logo-07.png" alt="">                  
                  </div>
                </div>
              </div>
              <div class="match-date">
                <label class="title">Date-Time</label>
                <span class="date">14-06-2023 9:45PM</span>
              </div>
              <div class="tournament">
                <label class="title">Tournament</label>
                <span>FIFA World Cup</span>
              </div>
              <div class="venue">
                <label class="title">Venue</label>
                <span>Education City</span>
              </div>
              <div class="article"><a href="ticket-page.html" class="btn btn-primary">Get Tickets</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--=================================
    Points Table -->
    <section class="space-pb match-schedule-table" style="background-image: none;">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h2 class="mb-0 text-white">Match Results</h2> 
            </div>
          </div>
        </div>
        <div class="row mt-4 mt-md-5 align-items-center">
          <div class="col-12">            
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Match</th>
                    <th scope="col">Results</th>
                    <th scope="col">Tournament</th>
                    <th scope="col">Season</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Article</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>5-12-2023</td>
                    <td>8:00 PM</td>
                    <td>
                      <div class="upcoming-match d-lg-flex align-items-center">
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-01.png" alt="">
                        </div>
                        <h2 class="px-2 px-lg-3">V.S</h2>
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-02.png" alt="">                  
                        </div>
                      </div>
                    </td>
                    <td>0 - 0</td>
                    <td>FIFA World Cup</td>
                    <td>2023</td>
                    <td>Lusail Iconic</td>
                    <td>Preview</td>
                  </tr>

                  <tr>
                    <td>6-12-2023</td>
                    <td>12:00 AM</td>
                    <td>
                      <div class="upcoming-match d-lg-flex align-items-center">
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-05.png" alt="">
                        </div>
                        <h2 class="px-2 px-lg-3">V.S</h2>
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-06.png" alt="">                  
                        </div>
                      </div>
                    </td>
                    <td>3 - 2</td>
                    <td>FIFA World Cup</td>
                    <td>2023</td>
                    <td>Al Bayt Stadium</td>
                    <td>  Preview</td>
                  </tr>

                  <tr>
                    <td>7-12-2023</td>
                    <td>9:00 PM</td>
                    <td>
                      <div class="upcoming-match d-lg-flex align-items-center">
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-07.png" alt="">
                        </div>
                        <h2 class="px-2 px-lg-3">V.S</h2>
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-08.png" alt="">                  
                        </div>
                      </div>
                    </td>
                    <td>2 - 3</td>
                    <td>FIFA World Cup</td>
                    <td>2023</td>
                    <td>Al Janoub</td>
                    <td>Preview</td>
                  </tr>

                  <tr>
                    <td>8-12-2023</td>
                    <td>11:30 PM</td>
                    <td>
                      <div class="upcoming-match d-lg-flex align-items-center">
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-01.png" alt="">
                        </div>
                        <h2 class="px-2 px-lg-3">V.S</h2>
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-05.png" alt="">                  
                        </div>
                      </div>
                    </td>
                    <td>2 - 0</td>
                    <td>FIFA World Cup</td>
                    <td>2023</td>
                    <td>Education City</td>
                    <td>Preview</td>
                  </tr>

                  <tr>
                    <td>9-12-2023</td>
                    <td>6:30 PM</td>
                    <td>
                      <div class="upcoming-match d-lg-flex align-items-center">
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-02.png" alt="">
                        </div>
                        <h2 class="px-2 px-lg-3">V.S</h2>
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-06.png" alt="">                  
                        </div>
                      </div>
                    </td>
                    <td>0 - 1</td>
                    <td>FIFA World Cup</td>
                    <td>2023</td>
                    <td>Al Thumama Stadium</td>
                    <td>Preview</td>
                  </tr>

                  <tr>
                    <td>10-12-2023</td>
                    <td>8:30 PM</td>
                    <td>
                      <div class="upcoming-match d-lg-flex align-items-center">
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-01.png" alt="">
                        </div>
                        <h2 class="px-2 px-lg-3">V.S</h2>
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-08.png" alt="">                  
                        </div>
                      </div>
                    </td>
                    <td>2 - 2</td>
                    <td>FIFA World Cup</td>
                    <td>2023</td>
                    <td>Khalifa International</td>
                    <td>Preview</td>
                  </tr>

                  <tr>
                    <td>11-12-2023</td>
                    <td>9:30 PM</td>
                    <td>
                      <div class="upcoming-match d-lg-flex align-items-center">
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-05.png" alt="">
                        </div>
                        <h2 class="px-2 px-lg-3">V.S</h2>
                        <div class="match-team">
                          <img class="" src="images/home-01/team-logo-02.png" alt="">                  
                        </div>
                      </div>
                    </td>
                    <td>3 - 1</td>
                    <td>FIFA World Cup</td>
                    <td>2023</td>
                    <td>Lusail Iconic</td>
                    <td>Preview</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Points Table -->

    <!--=================================
    client -->
    <section class="client-logo py-5 bg-primary">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="owl-carousel" data-nav-dots="false" data-nav-arrow="false" data-items="5" data-lg-items="5" data-md-items="3" data-sm-items="3" data-xs-items="2" data-xx-items="1" data-space="150" data-autoheight="true">
              <div class="item">
                <img class="img-fluid" src="images/home-01/client-logo/01.png" alt="">
              </div>
              <div class="item">
                <img class="img-fluid" src="images/home-01/client-logo/02.png" alt="">
              </div>
              <div class="item">
                <img class="img-fluid" src="images/home-01/client-logo/03.png" alt="">
              </div>
              <div class="item">
                <img class="img-fluid" src="images/home-01/client-logo/04.png" alt="">
              </div>
              <div class="item">
                <img class="img-fluid" src="images/home-01/client-logo/05.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    client -->

    <!--=================================
    Footer -->
    <footer class="footer">
      <div class="min-footer">
        <div class="container">
          <div class="row align-items-center justify-content-between mb-4 mb-md-5">
            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
              <div class="footer-social justify-content-center justify-content-lg-start">
                <span>Follow Us :</span>
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 text-center mb-4 mb-lg-0">
              <a href="#" class="footer-logo">
                <img class="logo img-fluid" src="images/logo.svg" alt="logo">
              </a>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="download-app d-sm-flex align-items-center justify-content-center justify-content-lg-start text-center">
                <h5 class="title me-3 mb-3 mb-sm-0">Download App</h5>
                <a href="#"><img class="img-fluid" src="images/home-03/google-play.png" alt="googleplay"></a>
                <a href="#"><img class="img-fluid" src="images/home-03/appleapp.png" alt="appleapp"></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
              <h5 class="footer-title text-primary">Contact Information</h5>
              <ul class="contact-info">
                <li><i class="fas fa-map-marker-alt"></i> <span> 17504 Carlton Cuevas Rd, Gulfport, MS, 39503 </span></li>
                <li class="contact-email"><i class="far fa-envelope"></i><span>letstalk@sports.com</span></li>
                <li><i class="fa-solid fa-phone"></i><span>(007) 123 456 7890</span></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 text-lg-center mb-4 mb-lg-0">
              <h5 class="footer-title text-primary">About Our Team</h5>
              <p class="text-white mb-0">For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do serious about having more, doing more.</p>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="footer-title text-primary">Useful Links</h5>
              <div class="footer-menu">
                 <ul>
                  <li><a href="portfolio.html">Portfolio</a></li>
                  <li><a href="shop.html">Shop</a></li>
                  <li><a href="match-schedule.html">Match Schedule</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <h5 class="footer-title text-primary">Need help?</h5>
              <div class="footer-menu">
                <ul>
                  <li><a href="faqs.html">Faqs</a></li>
                  <li><a href="team.html">Team</a></li>
                  <li><a href="contact-us.html">Contact us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row align-items-center copyright">
            <div class="col-12 col-md-6 text-center text-md-start">
              <div class="copyright-menu footer-menu">
                <ul class="mb-0 justify-content-center justify-content-md-start list-unstyled">
                  <li><a href="about-us.html">About us</a></li>
                  <li><a href="event.html">Events</a></li>
                  <li><a href="our-history.html">Our History</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-6 text-center text-md-end mt-2 mt-md-0">
              <p class="mb-0"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> by <a href="http://www.bootstrapMB.com">bootstrapMB</a> All Rights Reserved</p>
            </div>            
          </div>
        </div>
      </div>
    </footer>
    <!--=================================
    Footer -->
      
    <!--=================================
    Back To Top-->
    <div id="back-to-top" class="back-to-top">
      <a href="#"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
    <!--=================================
    Back To Top-->
    
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.6.4.min.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/owl-carousel/owl.carousel.min.js"></script>
    

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>
      
  </body>
</html>